version: '2'

services:
  sd-editor:
    # image: ghcr.io/knaw-huc/service-huc-editor:2.0-RC9
    # image: servicehuceditor:latest    
    image: servicehuceditor:dev 
    environment:
      - BASE_URL=http://localhost:1210
      - CDN_URL=https://alpha-cmdicdn.sd.di.huc.knaw.nl
    volumes:
      - ./data:/home/huc/huc-editor-service/data
      - ./src:/home/huc/huc-editor-service/src
      - ./conf:/home/huc/huc-editor-service/conf
      - ./logs:/home/huc/huc-editor-service/logs
      - ./tests:/home/huc/huc-editor-service/tests
      - ./resources:/home/huc/huc-editor-service/resources

    command: uvicorn src.main:app --host 0.0.0.0 --port 1210 --reload

    networks:
      - sd-editor
    ports:
      - '1210:1210'
  util-server:
    image: ghcr.io/knaw-huc/util-server:1.0.rc4
    networks:
      - sd-editor
    ports:
      - '8000:8000'

networks:
  sd-editor:
    external: false
